<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basic Info Site</title>
  </head>
  <body
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    "
  >
    <header>
      <nav>
        <ul style="list-style-type: none">
          <li>
            <a href="/"><h1>Home</h1></a>
          </li>
          <li>
            <a href="/contact-me"><h1>Contact Me</h1></a>
          </li>
        </ul>
      </nav>
    </header>
    <h1>About</h1>
    <article>
      <section style="width: 70vw">
        <p style="font-size: 2rem">
          I'm Keane, and I currently studying Information Technology. Currently,
          I'm interested in becoming a software developer so I spend most of my
          free time learning about development tools, particularly web
          technologies. I use my passion for said technologies to hack together
          projects that help me solve real-life problems, and better my skills
          so I can build or contribute to bigger and more complex apps in the
          future!
        </p>
      </section>
    </article>
  </body>
</html>
